DATABASE_URL=postgres://USER:PASSWORD@db.prisma.io:5432/?sslmode=require
SECRET_KEY=python3 -c "import secrets; print(secrets.token_urlsafe(32))"
DEBUG=true
DB_NAME=studybuddy
DB_USER=admin
DB_PASSWORD=Password123!
DB_HOST=localhost
DB_PORT=5432