DATABASE_URL=postgres://USER:PASSWORD@db.prisma.io:5432/?sslmode=require
SECRET_KEY=python3 -c "import secrets; print(secrets.token_urlsafe(32))"
DEBUG=true # true for development, false for production

# Paystack (payments & escrow)
# Replace with your own keys in your private .env file
PAYSTACK_PUBLIC_KEY="paystack_public_key_here"
PAYSTACK_SECRET_KEY="paystack_secret_key_here"

# Database
DB_USER=admin
DB_PASSWORD=Password123!
DB_HOST=localhost
DB_PORT=5432

# Email Configuration (SMTP)
EMAIL_PORT=587
EMAIL_HOST_USER="gmail_address"
EMAIL_HOST_PASSWORD="gmail_app_password"
EMAIL_DEFAULT_SENDER="StudyBuddy Africa <gmail_address>"
EMAIL_USE_TLS=true # Set to true for TLS encryption
EMAIL_USE_SSL=false # Set to true for SSL encryption
EMAIL_DEBUG_CONSOLE=true # Set to true to print emails to the console

# When DEBUG=true, true prints emails to console; false sends through SMTP
MAIL_DEBUG_CONSOLE=true

SEND_TOKEN=""
INTASEND_PUBLISHABLE_KEY=""
DAILY_API_KEY=""
DAILY_ROOM_URL_BASE=""
JITSU_API_KEY=""
JITSU_API_URL=""
EXCALIDRAW_API_KEY=""
EXCALIDRAW_API_URL="https://api.excalidraw.com"
EXCALIDRAW_APP_URL="https://excalidraw.com/"
DEFAULT_WHITEBOARD_LINK="https://excalidraw.com/"

# Google Auth
GOOGLE_CLIENT_ID="google_client_id"
GOOGLE_CLIENT_SECRET="google_client_secret"
GOOGLE_REDIRECT_URI="google_redirect_uri"