attrs
Babel
bcc
bcrypt
blinker
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libvirt-python
louis
Mako
markdown-it-py
MarkupSafe
mdurl
monotonic
netaddr
oauthlib
olefile
paramiko
pexpect
pillow
ptyprocess
PyAudio
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
screen-resolution-extra
setuptools
six
ssh-import-id
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
vboxapi
wadllib
wheel
xdg
xkit
